// Note that the house modal leverages the nav
// so CSS here is just for the features inside the house modal

.house-modal {
  display: none;

  .open-house & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .house-interior {
    display: block;
    position: relative;
    width: 1000px;
    height: 488px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('images/house_interior_final.png');

    .house-attic {
      top: 13px;
      left: 363px;
      width: 330px;
      height: 130px;

      &:hover {
        background-image: url('images/RP_A03_330x130.png');
      }
    }

    .house-pizza-hut-roof {
      top: 137px;
      left: 10px;
      width: 980px;
      height: 140px;

      &:hover {
        background-image: url('images/RP_A04_980x140.png');
      }
    }

    .house-bottom-left {
      top: 261px;
      left: 11px;
      width: 320px;
      height: 210px;

      &:hover {
        background-image: url('images/RP_A05_320x210.png');
      }
    }

    .house-bottom-middle {
      top: 261px;
      left: 318px;
      width: 340px;
      height: 210px;

      &:hover {
        background-image: url('images/RP_A06_340x210.png');
      }
    }

    .house-bottom-right {
      top: 261px;
      left: 644px;
      width: 340px;
      height: 210px;

      &:hover {
        background-image: url('images/RP_A07_340x210.png');
      }
    }
  }

  .back-button {
    margin-top: 20px;
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }
}