// Note that the house modal leverages the nav
// so CSS here is just for the features inside the house modal

.house-modal {
  display: none;

  .open-house & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .house-interior {
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://s3-ap-southeast-2.amazonaws.com/dev-sprites/house_interior_edited_min.png);
  }

  .back-button {
    margin-top: 20px;
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  .house-button {
    top: 362px;
    left: 635px;
    width: 422px;
    height: 220px;
    opacity: 0;
    transition: 0.3s opacity;

    &:before {
      position: relative;
      content: "";
      background-image: url(images/magnifying-glass.svg);
      width: 90px;
      height: 90px;
      left: 175px;
      top: 80px;
    }

    &:hover {
      &:before {
        display: block;
      }

      background-image: url(https://s3-ap-southeast-2.amazonaws.com/dev-sprites/house_interior_edited_min_dark.png);
      background-size: contain;
      opacity: 1;
    }
  }
}