.hamburger {
  position: fixed;
  will-change: transform;
  top: 40px;
  right: 40px;
  z-index: 99;
  display: flex;
  align-items: center;
  cursor: pointer;

  .show-disclaimer & {
    top: 55px;
  }

  .hamburger-icon {
    background-image: url(images/hamburger.svg);
    background-size: contain;
    background-color: transparent;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &.is-open {
    .hamburger-icon {
      background-image: url(images/close.svg);
    }
  }
}

#hamburger-icon-label {
  padding-right: 20px;
  color: var(--white);
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  display: none;

  // Modal background
  &::before {
    content: '';
    width: 100%;
    background-color: rgba(#000, 0.75);
    display: block;
    position: absolute;
    height: 100%;
  }

  &.is-open {
    display: flex;
    position: fixed;
    will-change: transform;
    z-index: 10;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
  }

  &.open-house {
    // House modal has slightly more transparent bg
    &::before {
      background-color: rgba(#000, 0.6);
    }

    // Hide menu for house modal
    ul {
      display: none;
    }
  }

  // Top level menu
  .main-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 420px;
    max-width: 100%;

    > li {
      position: relative;
      margin: 18px 0;
      font-size: 30px;
      letter-spacing: 1px;

      &.with-children {

        .toggle {
          position: relative;
          top: -1px;
          color: var(--white);
          padding-left: 20px;
          cursor: pointer;
        }
      }

      // All links
      a {
        color: white;
        transition: color 0.3s;

        &:hover {
          color: var(--primary);
        }
      }
    }
    // Submenu
    .inner-dropdown {
      display: none;

      li {
        margin: 10px 0;
        font-size: 26px;
        letter-spacing: 1px;

        > a::before {
          content: '-';
          padding-right: 8px;
        }
      }
    }
  }
}
