/*
 * CSS styling for prototype
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  min-height: 100vh;
  overflow: scroll;
  position: relative;
}

a {
  text-decoration: none;
}

.hamburger-icon {
  background-color: red;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

nav {
  display: none;
}

nav.is-open {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100%;
  background-color: green;
  opacity: 0.5;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 15px 0 15px 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 1333px;
  height: 768px;
  cursor: default;
  user-select: none;
}

.bookmark {
  transform: scale(0.25);
  position: absolute;
  bottom: -84px;
  left: 178px;
  width: 540px;
  height: 339px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(images/sprite.png);
  cursor: pointer;
}