/*
 * CSS styling for prototype
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  min-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.hamburger-icon {
  background-image: url(images/hamburger.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.hamburger-icon.is-open {
  background-image: url(images/close.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
}

nav {
  display: none;
}

nav.is-open {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100%;
  background-color: green;
  opacity: 0.5;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 15px 0 15px 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://s3-ap-southeast-2.amazonaws.com/dev-sprites/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -190px;
  width: 1920px;
  height: 1207px;
  max-width: 100vw;
  max-height: 100vh;
  cursor: default;
  user-select: none;
}

.sprite {
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blue-bookmark {
  position: absolute;
  bottom: -84px;
  left: 178px;
  width: 540px;
  height: 339px;
  background-image: url(images/sprite.png);
  cursor: pointer;
}