/*
 * CSS styling for prototype
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  min-height: 100vh;
  overflow: scroll;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 1333px;
  height: 768px;
  cursor: default;
  user-select: none;
}

.bookmark {
  transform: scale(0.35);
  position: absolute;
  bottom: -24px;
  left: 256px;
  width: 540px;
  height: 339px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(images/sprite.png);
  cursor: pointer;
}